@{
    ViewData["Title"] = "Home Page";
}

<div>
    <p>This is the solution of Nick Harrison (student #: 8476855)</p>
    <p>Click here for <a asp-controller="Transaction" asp-action="List">transactions</a>!</p>
</div>